<template>
  <div id="div-form">
    <h1>Contact US:</h1>
    <hr />
    <input placeholder="name" v-model="name" />
    <input placeholder="email" v-model="email" />
    <input placeholder="message" v-model="message" />
    <hr />

    <h3>
      <p> Now {{ name }}, we received your message ({{message}}) !!!!!!!</p>
    </h3>
  </div>
</template>

<script>
export default {
  data() {
    return {
      name: "",
      email: "",
      message: "",
    };
  },

  name: "FormContact",
};
</script>

<style>

input {
    width: 25%;
    height: 40px;
    border-radius: 10px;
    margin-right: 10px;
    padding: 10px;
    font-size: 18px;
}
</style>