<template>
  <div id="menu">
    <div v-for="choice in choices" :key="choice.id">
      <h4>
        {{ choice.name }}
      </h4>
    </div>
  </div>
</template>

<script>
export default {
  name: "HorizontalMenu",
  props: {
    choices: Array,
  },
};
</script>

<style>
#menu {
  display: flex;
  flex-direction: row;
}
h4 {
  padding: 15px;
}
</style>