<template>
  <div id="services">
    <div id="title-services">
      <h2>These are our Services</h2>
    </div>
    <div id="card-services">
      <div v-for="service in services" :key="service.id">
        <Service :service="service" />
      </div>
    </div>
  </div>
</template>

<script>
import Service from "./Service";

export default {
  data() {
    return {
      services: [
        {
          title: "Business",
          subtitle: "Marketing Plan, Business Plan, Validation ...",
          price: "500",
          more_info: "More Info about this Service",
          id: 1,
        },
        {
          title: "Tecnology",
          subtitle: "Marketing Plan, Business Plan, Validation ...",
          price: "400",
          more_info: "More Info about this Service",
          id: 2,
        },
        {
          title: "Engineering",
          subtitle: "Marketing Plan, Business Plan, Validation ...",
          price: "300",
          more_info: "More Info about this Service",
          id: 3,
        },
        {
          title: "Health",
          subtitle: "Marketing Plan, Business Plan, Validation ...",
          price: "600",
          more_info: "More Info about this Service",
          id: 4,
        },
      ],
    };
  },
  name: "Services",
  components: {
    Service,
  },
};
</script>

<style>
#services {
  background: black;
  border-radius: 10px;
}

#title-services {
  padding: 3px;
  color: white;
  font-weight: bold;
}

#card-services {
  display: flex;
  flex-direction: row;
  padding-left: 50px;
}
</style>