<template>
  <div id="card-service">
    <div id="card-div-icon">
      <div id="card-icon">
        <img alt="Service" src="../assets/service.png" />
      </div>
    </div>
    <div id="card-title">
      <h3>
        {{ service.title }}
      </h3>
    </div>
    <div id="card-subtitle">
      <h5>
        {{ service.subtitle }}
      </h5>
    </div>
    <div class="card-more-info">
      <p>>> {{ service.more_info }}</p>
    </div>
    <div id="card-price">
      <p>Preço: {{ service.price }} R$</p>
    </div>
    <div class="card-more-info">
      <p v-if="service.price < 500">(IMPERDÍVEL)</p>
      <p v-else> (DESCONTOS EM BREVE)</p>
    </div>
  </div>
</template>

<script>
export default {
  name: "Service",

  props: {
    service: Object,
  },
};
</script>

<style>
#card-service {
  display: flex;
  width: 300px;
  padding: 4%;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 50px 15px 0;
  background-color: #454545;
  border-radius: 30px;
}

#card-div-icon {
  display: flex;
  flex-direction: row;
}

#card-icon {
  display: flex;
  width: 50px;
  height: 50px;
  background-color: gray;
  border-radius: 8px;
}

#card-title {
  display: flex;
  color: white;
  font-size: 23px;
  font-weight: bold;
}

#card-subtitle {
  display: flex;
  color: white;
  font-size: 18px;
  text-align: justify;
}

.card-more-info {
  display: flex;
  color: red;
  font-size: 13px;
  font-weight: bold;
  align-items: center;
  justify-content: center;
}

#card-price {
  display: flex;
  color: white;
  font-size: 18px;
}
</style>