<template>
  <div id="top">
      <div id="img-logo">
          <img alt="Vue logo" src="../assets/logo.png">
      </div>
      <HorizontalMenu :choices="choices" />
  </div>
</template>

<script>
import HorizontalMenu from './HorizontalMenu.vue'

export default {
    name: 'TopPage',
    components: {
        HorizontalMenu
    },
    data(){
        return{
            choices: [
                {
                    id: 1,
                    name: "HOME",
                },
                {
                    id: 2,
                    name: "WHO WE ARE",
                },
                {
                    id: 3,
                    name: "SERVICES",
                },
                {
                    id: 4,
                    name: "CREATE YOUR PROJECT",
                },
                {
                    id: 5,
                    name: "CONTACT US",
                },
            ]
        }
    }
}
</script>

<style>
    #top {
        display: flex;
        flex-direction:row;
        margin-top: -40px;
    }

    #img-logo {
        display: flex;
        width: 150px;
        height: 150px;
        margin-right: 500px;
        margin-left: 30px;
    }

</style>