<template>
  <div id="app">
    <TopPage />
    <Services />
    <FormContact />
  </div>
</template>

<script>
import TopPage from './components/TopPage'
import Services from './components/Services'
import FormContact from './components/FormContact'

export default {
  name: 'App',
  components: {
    TopPage,
    Services,
    FormContact
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
